body {
   background-color: #EEEEEE;
}

main {
   max-width: 1920px;
   margin: 0 auto;
};
 
.app-wrapper {
   margin: 0 auto;
   max-width: 1216px;
}
 
h1 {
   font-family: 'Forum';
   font-style: normal;
   font-weight: 400;
   font-size: 60px;
   line-height: 100%;
   color: #3E424B;
   margin: 0 0 40px 0;
}