.buttons-list {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}
   
.button-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 14px 24px;
  background: #F5F5F5;
  border: 1px solid #BB8C5F;
  width: fit-content;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  color: #BB8C5F;
}

   